h1{
text-align: center;
margin-top: 100px;
font-size: 40px;

}

h2{
    text-align: center;
    margin-top: 100px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

p{
  
    text-align: center;
     margin-top: 20px;
     font-size: 20px;
}

#start{
    background-color: green;
    font-size: 40px;
    margin-left: 700px;
}

#firstpage {
display: block;

}

#questionpage{
    display:none;
    
}
#ans{
    display: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: bold;
}
#button1,#button2,#button3,#button4 {
    display: none;
    margin-left: 400px;
    margin-bottom: 15px;
    font-size: 40px;
    background-color: green;
    width: fit-content;
    
}
#last{
   
    margin-left: 750px;
    margin-top: 30px;
    font-size: 40px;
    background-color: green;
    width: fit-content;
}

.message,.percentage
{
   margin-left: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
input{
margin-left: 700px;
margin-top: 25px;
}

#highS{
    margin-left: 650px;
    
    margin-bottom: 10px;
    font-size: 50px;
}
#scoreButton {
    
    margin-left: 700px;
    margin-top: 50px;
    font-size: 40px;
    background-color: green;
    width: fit-content;

}
#scoreh2 {
    display: block;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 50px;
    color: green;
}
#goBack{
    margin-left: 750px;
    width: auto;
    font-size: 40px;
    background-color: green;
}

li{
text-align: center;

margin-bottom: 15px;
font-size: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#time{
    text-align: end;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
}
#gameOver {
    color: green;
}
